body{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background: #000000;
}
textarea, select, input, button { outline: none; }
.section-header h2{
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    margin-right: auto;
    float: left;
    padding: .5rem 0;
}
.section-header h2::after{
    display: block;
    content: '';
    width: 5rem;
    height: .1rem;
    background: #18d26e;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s;
}

/* Navbar starts */
nav.navbar{
    background: #000000;
}
nav navbar-toggler-icon{
    color: #ffffff;
}
nav .navbar-nav{
    margin-left: auto;
}
nav.navbar .navbar-brand{
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: uppercase;
}
nav .navbar-nav .nav-item a{
    color: #ffffff;
    position: relative;
    transition: all .2s;
}
nav .navbar-nav .nav-item .nav-link{
    padding-left: 0;
    padding-right: 0;
}
nav .navbar-nav .nav-item a::after{
    display: block;
    content: '';
    width: 0;
    height: .1rem;
    background: #18d26e;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .5s;
}
nav .navbar-nav .nav-item.active a{
    color: #18d26e;
    position: relative;
}
nav .navbar-nav .nav-item a:hover{
    color: #18d26e;
}
nav .navbar-nav .nav-item.active a::after{
    display: block;
    content: '';
    width: 100%;
    height: .1rem;
    background: #18d26e;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
nav .navbar-nav .nav-item a:hover::after{
    width: 100%;
}
/* Navbar ends */

/* Main section starts */

/* Home section starts */
main #home-section{
    height: 85vh;
}
main #home-section .left-section{
    padding-top: 23%;
}
main #home-section .left-section h1{
    padding: 0;
    font-weight: 800;
    font-size: 4rem;
    margin: 0;
    line-height: 100%;
}
main #home-section .left-section h3{
    font-size: 1.2rem;
    margin-top: 2rem;
}
main #home-section .left-section .name{
    color: #18d26e;
}
main #home-section .left-section .buttons{
    margin-top: 2rem;
}
main #home-section .left-section .buttons .hire-me-btn{
    border: #18d26e solid .1rem;
    padding: .6rem 2rem;
    border-radius: .5rem;
}
main #home-section .left-section .buttons .get-cv-btn{
    margin-left: .5rem;
    padding: .6rem 2rem;
    transition: all .2s;
    border: transparent solid .1rem;
    border-radius: .5rem;
}
main #home-section .left-section .buttons .get-cv-btn:hover{
    border-color: #18d26e;
}

main #home-section .right-section img{
    height: 20rem;
}

@media only screen and (max-width: 576px) {
    main #home-section .left-section h1{
        font-size: 3rem;
    }
    main #home-section .left-section h3{
        font-size: 1rem;
    }
}
/* Home section ends */

/* About section starts */
main #about-section .left-section .head{
    font-size: 1.3rem;
    color: #999999;
}
main #about-section table .icon i,main #about-section .language i{
    color: #18d26e;
}
main #about-section tr{
    height: 2.5rem;
}
main #about-section .key{
    font-weight: 600;
}
main #about-section .value{
    color: #999999;
}
/* About section ends */

/* Services section starts */
main #services-section i{
    font-size: 4rem;
    color: #18d26e;
}
main #services-section .item-card{
    background: rgba(255, 255, 255, .12);
    text-align: center;
    width: 100%;
    border: .2rem solid transparent;
    transition: all .3s;
}
main #services-section .item-card:hover{
    border-color: #18d26e;
}
main #services-section .item-card h4{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
    padding-bottom: 1rem;
}
main #services-section .item-card h4::after{
    display: block;
    content: '';
    width: 20%;
    height: .12rem;
    background: #18d26e;
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: scaleX(0);
    transition: all .5s;
}
main #services-section .item-card:hover h4::after{
    transform: scaleX(1);
}
/* Services section ends */

/* Skills section starts */
main #skills-section .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
main #skills-section h5{
    font-weight: 600;
    font-size: 1rem;
}
main #skills-section .progress{
    border-radius: 0;
    height: .5rem;
}
/* Skills section ends */

/* Contact section starts */
main #contact-section .card{
    background: transparent;
}
main #contact-section .row .circle{
    background: rgba(255, 255, 255, .12);
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}
main #contact-section .row .circle i{
    font-size: 1.7rem;
    color: #18d26e;
}
main #contact-section .card .card-title{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
main #contact-section .card .card-text{
    text-align: center;
    color: #999999;
    font-size: .8rem;
}
main #contact-section .card .card-text.info{
    font-size: 1rem;
}

main #contact-section .form-section{
    border: 1px solid #18d26e;
    padding: 3.2rem 0;
}
main #contact-section .form-section .right-section{
    padding: 1rem 5rem 1rem 1rem;
}
main #contact-section .form-section .right-section .header{
    font-size: 1.5rem;
}
main #contact-section .form-section .right-section .header i{
    color: #18d26e;
}
main #contact-section textarea{
    width: 100%;
    padding: 1rem;
    background: transparent;
    resize: none;
    color: #ffffff;
}
main #contact-section textarea:focus{
    border: 1px solid #18d26e;
}
main #contact-section .send-btn{
    color: #ffffff;
    border: 1px solid #999999;
    width: 100%;
    border-radius: 0px;
    padding: .5rem 3rem;
    margin-top: 1.2rem;
}
main #contact-section .send-btn:hover{
    border-color: #18d26e;
    color: #18d26e;
}
/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:1.5rem; 
}
input 				{
  font-size:18px;
  padding:10px 10px 3px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  background: transparent;
  color: #ffffff;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:1rem;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:.2rem;
  bottom:.2rem;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-.6rem;
  font-size:14px;
  color:#18d26e;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#18d26e; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#18d26e; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#18d26e; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#18d26e; }
  to 	{ width:0; background:transparent; }
}
/* Contact section ends */

/* Main section ends */